/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 body {
     font-family: 'Open Sans', sans-serif, bold !important;
 } 

 .brand-logo {
     font-size: 50px !important;
     color: black;
 }

 .navbar {
    padding-right: 100px;
    padding-left: 100px;
 }

.content {
     border: 4px solid black;
  margin-top: 100px;
     margin-left: 100px;
     margin-right: 100px;
     margin-bottom: 10px;
}

.container {
   text-align: left;
   width: auto;
   padding: 0px;
}
 
ul.container{
   text-align: left;
   margin: auto;
   display: block;
   padding: 0px;
   margin: 0px;
}

@media (min-width: 1220px) { li.cell{ width: 33% !important;} }

li.cell{
  text-align: left;
  list-style: none;
  width: 50%;
  height: auto;
  border: 0px;
  display: inline-block;
  border-style: solid;

  font-size: 16px; /* some value */
}
